extends layout

block content
  h1= title
  p Welcome to #{title}
  //- .game-container
  //- .game
  //-   .coin-one
  //-     <img src="./assets/Coin.svg" alt="coin">
  //-   .character
  //-     img(src='./assets/character2.gif' alt='Ziva')
  //-   .obstacle
  //-     img(src='./assets/cheese-burger.svg' alt='french fries')
  //-     script(src="/script/index.js")
  //-     script(type='text/javascript' src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-6196325e12edf44d')
