extends layout

block content
  h1 Jade - node template engine
    .leaderboard
      header
        h1
          | Score
          br
          | Board
        nav
          a.active(href='') Solo
      table
        thead
          tr
            th.rank
            th.nick Name
            th.sp Score
        tbody
          tr
            td.rank 1
            td.nick Sc0utOP
            td.sp 6.308
          tr
            td.rank 2
            td.nick MortaL
            td.sp 6.301
          tr
            td.rank 4
            td.nick CarryMinati
            td.sp 5.108
          tr
            td.rank 5
            td.nick CarryMinati
            td.sp 5.108
          tr
            td.rank 6
            td.nick CarryMinati
            td.sp 5.108
          tr
            td.rank 7
            td.nick CarryMinati
            td.sp 5.108
          tr
            td.rank 8
            td.nick CarryMinati
            td.sp 5.108
          tr
            td.rank 9
            td.nick CarryMinati
            td.sp 5.108
          tr
            td.rank 10
            td.nick CarryMinati
            td.sp 5.108

