extends layout

block content
  h1 Oziva leaderboard
    .leaderboard
      header
        h1 Scoreboard
        image 
        nav
          a.active(href='') Solo
      table
        thead
          tr
            th.rank Rank
            th.nick Name
            th.sp Score
        tbody
        - var n = 0;
        each val in [{name: "Sc0utOP", points: "100"}, {name: "MortaL", points: "99"}, {name: "CarryMinati", points: "98"}, {name: "CarryMinati", points: 97}]
          tr
            td.rank= ++n
            td.nick= val.name
            td.sp= val.points

