extends layout

block content
  //- div
  //- - console.log("leaders", leaders)
  //- div
  h1 Oziva leaderboard
    .leaderboard
      header
        //- h1 Scoreboard
        img.className#IdName(src="/assets/scoreboard_img.png" alt="Scoreboard")
        nav
          a.active(href='') Scoreboard
      table
        thead
          tr
            th.rank Rank
            th.nick Name
            th.sp Coin
        tbody
         - var n = 0;
        each val in leaders
          tr
            td.rank= ++n
            td.nick= val.name
            td.sp= val.coin

